<div class="row">
  <h1 class="font-bold text-4xl text-blue-500 blue">Articles</h1>
<table>
    <tbody>
      <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.body %></td>
            <td><%= article.search_count %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>